node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
._*
.venv/
venv/

# 파이썬 캐시
__pycache__/
*.pyc
*.pyo
*.pyd

# 마스터 브랜치에 쿠키파일 안올라가게
cookies.json

#coverage 개별 폴더 업로드 방지
htmlcov/

# 스크린샷
screenshots/

# 로그
logs/
